<section id="service" class="services-area pt-125 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-30">
                    <h5 class="mb-15">{{services.heading}}</h5>
                    <h3 class="title mb-15">{{services.title}}</h3>
                    <p>{{services.text}}</p>
                </div> <!-- section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="services-left mt-45">
                    <div class="services">
                        <img src="{{services.imageUrl}}">
                        <a href="{{services.buttonlink}}" class="main-btn mt-30">{{services.buttontext}}<i class="lni-chevron-right"></i></a>
                    </div> <!-- services btn -->
                </div> <!-- services left -->
            </div>
            <div class="col-lg-6">
                <div class="services-right mt-45">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-8">
                            <div class="single-services text-center" *ngFor="let service of services.leftblock">
                                <div class="services-icon">
                                    <i class="fab fa-accusoft"></i>
                                </div>
                                <div class="services-content mt-20">
                                <h5 class="title mb-10">{{service.title}}</h5>
                                    <p>{{service.text}}</p>
                                </div>
                            </div> <!-- single services -->
                        </div>
                        <div class="col-md-6 col-sm-8">
                            <div class="single-services text-center mt-30" *ngFor="let service of services.rightblock">
                                <div class="services-icon">
                                  <i class="fab fa-accusoft"></i>
                                </div>
                                <div class="services-content mt-20">
                                    <h5 class="title mb-10">{{service.title}}</h5>
                                    <p>{{service.text}}</p>
                                </div>
                            </div> <!-- single services -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

