<div class="main-container">
  <div class="contact-container">
    <h3>Contact info</h3>
      <div class="info-contact">
         <div><i class="fas fa-phone-alt"></i></div>
         <div>+ 7 (727) 325 45 62</div>
      </div>
      <div class="info-email">
        <div><i class="fas fa-envelope"></i></div>
        <div>info@goldenstar.kz</div>
      </div>
      <div class="info-adress">
        <div><i class="fas fa-map-marker-alt"></i></div>
        <div>203, Envato Labs, Behind Alis Steet,Australia</div>
      </div>
  </div>
  <div class="form-container">
    <form class="card-block" [formGroup]="form" (ngSubmit)="submit()">
      <h3>Angular Forms</h3>

      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Ваши имя</label>
        <input type="text" id="recipient-name" class="form-control"  placeholder="" formControlName="name">
        <div
        *ngIf="form.get('name').invalid && form.get('name').touched"
        class="validation"
        >
        <small *ngIf="form.get('name').errors.required">Поле "имя" не может быть пустым</small>
        </div>
    </div>
<!-- Телефон -->
      <div class="form-group">
        <label for="recipient-phone" class="col-form-label">Ваш телефон:</label>
        <input type="tel" id="recipient-phone" class="form-control"
          name="phone" placeholder="+7 (777) 777 77 77" formControlName="phone"
          >
        <div
        *ngIf="form.get('phone').invalid && form.get('phone').touched"
        class="validation"
        >
        <small *ngIf="form.get('phone').errors.required">Поле "телефон" не может быть пустым</small>
        </div>
    </div>
<!-- Email -->
    <div class="form-group">
      <label for="recipient-mail" class="col-form-label">Ваш email:</label>
      <input type="email" name="email" id="recipient-mail" class="form-control" placeholder="example@gmail.com" formControlName="email">
      <div
      *ngIf="form.get('email').invalid && form.get('email').touched"
      class="validation"
      >
      <small *ngIf="form.get('email').errors.required">Поле email не может быть пустым</small>
      <small *ngIf="form.get('email').errors.email"> Введите корректный email</small>
      </div>
    </div>
<!-- Message -->
      <div class="form-group">
        <label for="message-text" class="col-form-label">Сообщение:</label>
        <textarea name="message" id="message-text" class="form-control" formControlName="message"></textarea>
    </div>
        <button type="submit" [disabled]=form.invalid class="btn btn-primary">Отправить</button>
      </form>
  </div>
</div>
