<footer>
  <hr/>
    <div class="footer-container">
      <div class="left-col">
          <div><img src="assets/images/logo.png" alt="logo"></div>
          <div class="text-block">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Sit ex est necessitatibus itaque veritatis ab explicabo hic commodi! Optio, eveniet.
          </div>
          <div class="social-media">
              <a href ="#"><i class="fab fa-facebook-f"></i></a>
              <a href ="#"><i class="fab fa-twitter"></i></a>
              <a href ="#"><i class="fab fa-instagram"></i></a>
              <a href ="#"><i class="fab fa-whatsapp"></i></a>
          </div>
          <div>
            <p class="rights-text">© 2020 Created by Berik Shaikamalov All Rights Reserved.</p>
          </div>
      </div>
      <div class="right-col">
        <div class="newsletter">
          <div><h1>Our Newsletter</h1></div>
          <div class="border"></div>
          <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, omnis?</div>
        </div>
          <div><p>Подписка на новостьную рассылку</p></div>
          <div class="subscribe-block">
            <form action="" class="newsletter-form">
              <input type="email" class="txtb" placeholder="E-mail">
              <input type="submit" class="btn" value="Подписаться">
            </form>
          </div>
      </div>
    </div>
</footer>
