<div class="container">
    <div class="btn-back">
        <button class="btn" [routerLink]="[ '/Product']">Назад</button>
    </div>

    <div class="product-container">
<!-- left container -->
        <div class="left-container">
            <div class="imgBox" ><img src="{{product.imageUrl}}" alt=""></div>
            <ul class="thumb">
                <li *ngFor="let productSlide of product.extraImages">
                    <a href="{{productSlide}}" target="imgBox">
                         <img src="{{productSlide}}" alt=""width="112px">
                    </a>
                </li>
            </ul>


            <!-- <div *ngFor="let productSlide of product.extraImages">
                <a><img src="{{productSlide}}" alt="Product"></a>
            </div>
            <div> -->

                <!-- <a><img src="{{product.imageUrl}}" alt="Product"></a> -->

            </div>
    
<!-- right container -->
        <div class="right-container">
            <div><h1 class="product-name">{{product.name | titlecase}}</h1></div>
            <div class="product-id"><small style="float: right;">Артикул: {{product.id}}</small></div>
            
            <hr>
            <div><p class="product-price">{{product.price}}</p></div>
            <div class="content">
               {{product.description}}
            </div>
        </div>
    </div>
</div>>