<header class="header-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <nav class="navbar navbar-expand-lg">
                      <a class="navbar-brand" href="index.html">
                          <img src="assets/images/logo.png" alt="Logo" >
                      </a> <!-- Logo -->
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="bar-icon"></span>
                          <span class="bar-icon"></span>
                          <span class="bar-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul id="nav" class="navbar-nav ml-auto">
                              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                                  <a data-scroll-nav="0" routerLink="/Home">Главная</a>
                              </li>
                              <li class="nav-item dropdown" >
                                <a class="nav-link dropdown-toggle" id="navbarDropdown"
                                  role="button" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false" style="padding: 0;">Продукты</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li routerLinkActive="active">
                                      <a class="dropdown-item" routerLink="Tosuntarim/Horizontal-feed-mixer">Tosun Tarim</a>
                                  </li>
                                  <li><a class="dropdown-item" routerLink="HMS/Horizontal-feed-mixer">Hms products</a></li>
                                </div>
                              </li>

                              <!-- <li routerLinkActive="active" class="nav-item">
                                  <a data-scroll-nav="0" routerLink="/Product">Продукты</a>
                              </li> -->
                              <li routerLinkActive="active"  class="nav-item">
                                  <a data-scroll-nav="0" routerLink="/Service">Услуги</a>
                              </li>
                              <li routerLinkActive="active"  class="nav-item">
                                  <a data-scroll-nav="0" routerLink="/Team">О компании</a>
                              </li>
                              <li routerLinkActive="active" class="nav-item">
                                  <a data-scroll-nav="0" routerLink="/Contact" >Контакты</a>
                              </li>

                          </ul> <!-- navbar nav -->
                      </div>
                  </nav> <!-- navbar -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </header>
