.slick-slider {
  width: 50%;
  margin: auto;
  padding: 0;
  background: red;
}



.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url() no-repeat scroll 0 0;
  left: -33px;
}

.next-slide {
  background: url() no-repeat scroll -24px 0px;
  right: -33px;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}


