.container{
  max-width: 1200px;
}
.col-md-4{
padding: 0 10px;
}
@media (max-width: 767px) {
.product-area {
  padding-top: 50px;
  padding-bottom: 80px; } }

.collection-menu .collection-tilte {
background-color: #e5e5e5;
font-size: 16px;
font-weight: 600;
padding: 20px 10px;
text-align: left;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .collection-menu .collection-tilte {
    font-size: 20px;
    padding: 15px 10px; } }
@media (max-width: 767px) {
  .collection-menu .collection-tilte {
    font-size: 20px;
    padding: 20px 15px; } }
.collection-menu .nav a {
text-align: left;
padding-left: 15px;
border: 1px solid #ddd;
margin-bottom: -1px;
line-height: 48px;
background-color: #fff;
font-size: 16px;
font-weight: 600;
color: #777;
-webkit-transition: all 0.4s ease-out 0s;
-moz-transition: all 0.4s ease-out 0s;
-ms-transition: all 0.4s ease-out 0s;
-o-transition: all 0.4s ease-out 0s;
transition: all 0.4s ease-out 0s; }

.collection-menu .nav a:nth-child(1),
.collection-menu .nav a:nth-child(2),
.collection-menu .nav a:nth-child(3),
.collection-menu .nav a:nth-child(4){
  line-height: 28px;
  padding: 5px 5px 5px 15px;
}

.collection-menu .nav a.active {
  background-color: #ba1638;
  border-color: #ba1638;
  color: #fff; }

.single-product-items {
padding-bottom: 20px;
margin-top: 10px;
margin-bottom: 10px;
box-shadow: 0 0 5px rgba(0, 0,0, 0.3);


}
.single-product-items .product-item-image {
position: relative;
overflow: hidden; }
.single-product-items .product-item-image a {
  display: block; }
.single-product-items .product-item-image img {
  width: 100%;
  height: 170px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s; }
.single-product-items .product-item-image .product-discount-tag {
  width: 70px;
  height: 70px;
  background-color: #ba1638;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  border-radius: 50%; }
  .single-product-items .product-item-image .product-discount-tag p {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 70px; }
.single-product-items .product-item-content .product-title a {
font-size: 13px;
color: #0089d0;
-webkit-transition: all 0.4s ease-out 0s;
-moz-transition: all 0.4s ease-out 0s;
-ms-transition: all 0.4s ease-out 0s;
-o-transition: all 0.4s ease-out 0s;
transition: all 0.4s ease-out 0s; }
.single-product-items .product-item-content .product-title a:hover {
  color: #ba1638; }
.single-product-items .product-item-content .rating li {
color: #fc924b;
font-size: 12px;
display: inline-block; }
.single-product-items .product-item-content span {
margin: 0 3px;
font-size: 16px;
font-weight: 600;
position: relative; }
.single-product-items .product-item-content .regular-price {
color: #000;
font-size: 14px;
}
.single-product-items .product-item-content .discount-price {
color: #c4c4c4; }
.single-product-items .product-item-content .discount-price::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #222;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
// .single-product-items:hover .product-item-image img {
//   -webkit-transform: scale(1.1);
//   -moz-transform: scale(1.1);
//   -ms-transform: scale(1.1);
//   -o-transform: scale(1.1);
//   transform: scale(1.1); }

.product-items-active .slick-arrow {
position: absolute;
right: -80px;
z-index: 9;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%); }
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .product-items-active .slick-arrow {
    right: -40px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product-items-active .slick-arrow {
    right: -20px; } }
.product-items-active .slick-arrow.prev {
  bottom: 35%; }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .product-items-active .slick-arrow.prev {
      bottom: 38%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-items-active .slick-arrow.prev {
      bottom: 40%; } }
.product-items-active .slick-arrow.next {
  top: 35%; }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .product-items-active .slick-arrow.next {
      top: 38%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-items-active .slick-arrow.next {
      top: 40%; } }
.product-items-active .slick-arrow i {
  font-size: 18px;
  color: #fe7865;
  width: 50px;
  line-height: 48px;
  border-radius: 50%;
  border: 1px solid #ba1638;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s; }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .product-items-active .slick-arrow i {
      width: 40px;
      line-height: 38px;
      font-size: 16px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-items-active .slick-arrow i {
      width: 30px;
      line-height: 28px;
      font-size: 16px; } }
  .product-items-active .slick-arrow i:hover {
    background-color: #ba1638;
    border-color: #ba1638;
    color: #fff; }

.tab-content .tab-pane {
display: block;
overflow: hidden;
height: 0;
visibility: hidden;
max-width: 100%;
opacity: 0; }
.tab-content .tab-pane.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible; }
