<section id="product" class="product-area pt-100 pb-130">
  <div class="container">
    <h4 style="padding: 20px 0;"> Сельскохозяйственная техника</h4>
      <div class="row">
          <!-- Основные категории -->
          <div class="col-lg-3 col-md-4">
              <div class="collection-menu text-center mt-30">
                  <h5 class="collection-tilte"><img src="assets/images/product/Product HMS/logo-hms.png" style="width:80px"><strong>продукции</strong></h5>
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="active" id="v-pills-furniture-tab" data-toggle="pill" href="#v-pills-furniture" role="tab" aria-controls="v-pills-furniture" aria-selected="true">Горизонтальный разбрасыватель удобрений</a>

                      <a id="v-pills-decorative-tab" data-toggle="pill" href="#v-pills-decorative" role="tab" aria-controls="v-pills-decorative" aria-selected="false">Вертикальный разбрасыватель удобрений</a>

                      <a id="v-pills-lighting-tab" data-toggle="pill" href="#v-pills-lighting" role="tab" aria-controls="v-pills-lighting" aria-selected="false">Универсальный тип сеялки передач зерна машины</a>

                      <a class="silage" id="v-pills-outdoor-tab" data-toggle="pill" href="#v-pills-outdoor" role="tab" aria-controls="v-pills-outdoor" aria-selected="false">Пневматический тип сеялки передач зерна машины</a>

                      <a id="v-pills-storage-tab" data-toggle="pill" href="#v-other-products" role="tab" aria-controls="v-pills-storage" aria-selected="false">Кран Gunny lift</a>
                  </div> <!-- nav -->
              </div> <!-- collection menu -->
          </div>
          <div class="col-lg-9 col-md-8">
            <div class="tab-content" id="v-pills-tabContent">

<!-- Category 1     -->
                  <div class="tab-pane fade show active" id="v-pills-furniture" role="tabpanel" aria-labelledby="v-pills-furniture-tab">
                      <div class="product-items">
                          <div class="row product-items-active">
                      <!-- 1 -->
                              <div class="col-md-4" *ngFor="let horizontal of horizontals">
                                  <a [routerLink]="[ '/Hms', horizontal.id ]">
                                    <div class="single-product-items">
                                        <strong *ngIf="false">(ID {{horizontal.id}}) </strong>
                                        <div class="product-item-image">
                                            <a><img src="{{horizontal.imageUrl}}" alt="Product"></a>
                                        </div>
                                        <div class="product-item-content text-center mt-30">
                                            <h5 class="product-title"><a [routerLink]="[ '/Hms', horizontal.id ]">{{horizontal.name | uppercase}}</a></h5>
                                            <span class="regular-price">{{horizontal.price}} &#8376;</span>
                                        </div>
                                    </div> <!-- single product items -->
                                  </a>
                              </div>
                          </div> <!-- row -->
                      </div> <!-- product items -->
                      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="40" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>
                  </div> <!-- tab pane -->

<!-- Category 2     -->
                  <div class="tab-pane fade" id="v-pills-decorative" role="tabpanel" aria-labelledby="v-pills-decorative-tab">
                      <div class="product-items mt-30">
                          <div class="row product-items-active">
                              <div class="col-md-4" *ngFor="let vertical of verticals">
                                <a [routerLink]="[ '/Hms', vertical.id ]">
                                <div class="single-product-items">
                                    <strong *ngIf="false">(ID {{vertical.id}}) </strong>
                                    <div class="product-item-image">
                                        <a href="#"><img src="{{vertical.imageUrl}}" alt="Product"></a>
                                    </div>
                                    <div class="product-item-content text-center mt-30">
                                        <h5 class="product-title"><a [routerLink]="[ '/Hms', vertical.id ]">{{vertical.name}}</a></h5>
                                        <span class="regular-price">{{vertical.price}} &#8376;</span>
                                    </div>
                                </div>
                                </a>
                            </div>
                          </div>
                      </div>
                  </div>

<!-- Category 3     -->
                  <div class="tab-pane fade" id="v-pills-lighting" role="tabpanel" aria-labelledby="v-pills-lighting-tab">
                      <div class="product-items mt-30">
                          <div class="row product-items-active">
                            <div class="col-md-4" *ngFor="let auger of augers">
                                <a [routerLink]="['/Hms', auger.id ]">
                              <div class="single-product-items">
                                  <div class="product-item-image">
                                      <a href="#"><img src="{{auger.imageUrl}}" alt="Product"></a>
                                  </div>
                                  <div class="product-item-content text-center mt-30">
                                    <h5 class="product-title"><a [routerLink]="['/Hms', auger.id ]">{{auger.name}}</a></h5>
                                      <span class="regular-price">{{auger.price}} &#8376;</span>
                                  </div>
                              </div> <!-- single product items -->
                              </a>
                          </div>
                          </div> <!-- row -->
                      </div> <!-- product items -->
                  </div> <!-- tab pane -->

<!-- Category 4     -->
                  <div class="tab-pane fade" id="v-pills-outdoor" role="tabpanel" aria-labelledby="v-pills-outdoor-tab">
                      <div class="product-items mt-30">
                          <div class="row product-items-active">
                                  <div class="col-md-4" *ngFor="let silage of silages">
                                    <a [routerLink]="[ '/Hms', silage.id ]">
                                    <div class="single-product-items">
                                        <div class="product-item-image">
                                            <a href="#"><img src="{{silage.imageUrl}}" alt="Product"></a>
                                        </div>
                                        <div class="product-item-content text-center mt-30">
                                          <h5 class="product-title"><a [routerLink]="['/Hms', silage.id ]">{{silage.name}}</a></h5>
                                            <span class="regular-price">{{silage.price}} &#8376;</span>
                                        </div>
                                    </div> <!-- single product items -->
                                    </a>
                                </div>
                          </div> <!-- row -->
                      </div> <!-- product items -->
                  </div> <!-- tab pane -->

<!-- Category 5     -->
                  <div class="tab-pane fade" id="v-other-products" role="tabpanel" aria-labelledby="v-pills-storage-tab">
                      <div class="product-items">
                          <div class="row product-items-active">
                                  <div class="col-md-4" *ngFor="let other of others">
                                    <a [routerLink]="['/Hms', other.id ]">
                                    <div class="single-product-items">
                                        <div class="product-item-image">
                                            <a href="#"><img src="{{other.imageUrl}}" alt="Product"></a>
                                        </div>
                                        <div class="product-item-content text-center mt-30">
                                          <h5 class="product-title"><a [routerLink]="['/Hms', other.id ]">{{other.name}}</a></h5>
                                            <span class="regular-price">{{other.price}} &#8376;</span>
                                        </div>
                                    </div> <!-- single product items -->
                                    </a>
                                </div>
                          </div> <!-- row -->
                      </div> <!-- product items -->
                  </div> <!-- tab pane -->

              </div> <!-- tab content -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
</section>
