.container{
  padding: 1rem;
}

// transform при наведении

.single-discount-product {
  position: relative;

    .product-image {
        overflow: hidden;
        img{
            width: 100%;
            transition: all 0.4s ease-out 0s;
            &:hover{
              transform: scale(1.2);
            }
      }
    }
    .product-content {
    position: absolute;
    top:0;
    left:0;
    padding: 80px 30px;

        a {
            color: #777;
            font-size: 16px;
            font-weight: 500;
            transition: all 0.4s ease-out 0s;
            text-decoration: none;
            list-style: none; 

            &:hover{
              color: #fe7865;
            }
          }

            i {
              font-size: 10px;
              margin-left: 5px; }
          }
}