.block{
    text-align: center;
    max-width: 1200px;
    flex-wrap: nowrap;
    margin: auto;

    h1{
        font-size: 18rem;
    }
    p{
        font-size:20px;
    }
    a{
        font-size: 20px;
        color: red;
    }
    .maintext{
        width: 100%;
    }
}
@media (max-width: 375px),
       (max-width: 414px)
{
    .block{
        justify-content: center;
        flex-wrap: wrap;
    }
    .maintext{
        h1{
            font-size: 50px;
            font-weight: 800;
        }
    }
  }
  @media (max-width: 768px),
         (max-width: 1024px){
    .block{
        justify-content: center;
        flex-wrap: wrap;
    }
    .maintext{
        h1{
            font-size: 130px;
            font-weight: 800;
        }
    }
  }
