footer {
 padding: 30px 0;
}
.footer-container {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

.left-col {
  width: 50%;
    .text-block {
      width: 70%
    }
    .rights-text {
      font-size: 12px;
    }
    .social-media {
      margin: 20px 0;
        a {
          color: #001a21;
          margin-right: 25px;
          font-size: 22px;
          text-decoration: none;
          transition:  .3s linear;
            &:hover {
            color: #fc5c65;
            }
        }
    }
}

.right-col {
  margin:0;
  padding: 0;
  width: 50%;
    h1 {
      font-size: 26px;
    }
    .border {
      width: 100px;
      height: 4px;
      background: #fc5c65;
    }
    .newsletter {
      padding-bottom: 50px;
    }
    .newsletter-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
    .txtb {
      padding: 8px 40px;
      font-size: 14px;
      color: #000;
      background: #ddd;
      border: none;
      font-weight: 500;
      outline: none;
      border-radius: 20px;
      min-width: 260px;
      margin-left: 20px;
    }
    .btn {
      padding: 8px 30px;
      font-size: 16px;
      color: #293043;
      background: linear-gradient(125deg, #778beb, #f8a5c2);
      border: none;
      font-weight: 500;
      outline: none;
      border-radius: 30px;
      margin-left: 20px;
      cursor: pointer;
      transition: .3 linear;
        &:hover {
          opacity: .7;
        }
    }
  }
}

@media (max-width: 375px) {
  .footer-container {
    display: inline-block;
    flex-wrap: wrap;

    .left-col {
      width: 100%;
      text-align: center;
      .text-block{
        text-align: left;
        width: 100%;
        }
        .social-media{
          text-align: right;
      }
    }
    .right-col{
      width: 100%;
      text-align: center;
      .newsletter{
        text-align: center;
        align-content: center;
      }
      .border{
        float: right;
        width: 150px;
      }
      .newsletter-form{
        width: 100%;
        .txtb{
          width: 70%;
          padding: 5px 10px;
        }
        .btn{
          font-size: 12px;
          padding: 2px 5px;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .right-col{
    width: 100%;
    p{
      padding-bottom: 10px;
    }
    .subscribe-block{
      width: 90%;
      text-align: left;
      .txtb {
        min-width: 200px;
        margin-left: 0;
      }
      .btn {
        padding: 5px 10px;
        color: #fff;
        background: #fc5c65;
        border: none;
        font-weight: 500;
        outline: none;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        transition: .3 linear;
          &:hover {
            opacity: .7;
          }
      }
    }
  }
  }


